pandas>=2.3.3
numpy>=2.2.6
pyarrow>=15.0.0
openpyxl>=3.1.0
pandasql>=0.7.3
scikit-learn>=1.4.0
streamlit>=1.31.0
watchdog>=4.0.0
plotly>=5.18.0
folium>=0.16.0
streamlit-folium>=0.17.0
ipykernel>=6.29.0
